/* LOGO */
body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    vertical-align: left;
    border: 0px solid green;
    width: 1px;
    Font: normal normal bold 20px/23px Roboto;
    color: green;
}

.logo-content-img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.items {
    padding: 30px;
}

.emptext {
    font: normal normal bold 20px/25px Monserrat;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll {
    color: #42515f;
}

* {
    box-sizing: border-box;
}

/* uc2 Day47 */
.add-button {
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #82a70c 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh-80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.emp-detail-text {
    font: normal normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.Employee-count {
    background-color: #82a70c;
    color: #ffffff;
    border-radius: 42%;
    font-size: 18px;
    width: 26px;
    text-align: center;
    display: inline-block;
}
/* uc3 */
.table-main{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    justify-content: center;
    align-self: center;
}

.table{
    width: 80%;
    border-collapse:collapse;
    border-spacing: 15px;
    min-width: 800px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
td,th{
    text-align: left;
    padding:  5px 8px;
}
th{
    background-color: #42515f;
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    border: 0px solid #dddddd;
}
td{
    font :normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}
td:first-child{
    display: flex;
    align-items: center;
}
td img:first-child{
    margin-left:10px;
}
td img{
    cursor: pointer;
}
.dept-label{
    background-color: #e9fea5;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}
tr:not(:first-child){
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
td{
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}
td{
    font :normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}