/* LOGO */
body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    vertical-align: left;
    border: 0px solid green;
    width: 1px;
    Font: normal normal bold 20px/23px roboto;
}

.logo-content-img {
    vertical-align: middle;
    width: 50px;
    height: 50px;

}

.items {
    padding: 30px;
}

.emptext {
    font: normal normal bold 20px/25px Monserrat;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll {
    color: #42515f;
}

* {
    box-sizing: border-box;


}

/* EMPLOYEE FORM */
.form-content {
    min-height: calc(100% 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #f5f5ff;
    border-radius: 0px;
    opacity: 1;
}

.form-head {
    font: normal normal bold 24px/37px Montserrat;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: medium;
}

/* uc3 */
.profileradiocontent {
    display: flex;
    flex-direction: row;
}

.profileradiocontent>label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

/*uc5*/
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

/*uc6*/
.buttonparent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
}

.submitbutton {
    border: none;
    background-color: #f5f5ff;
    margin-right: 20px;
}

.cancelbutton {
    /* margin-left: 140px; */
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width:960px) {
    .cancelbutton {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}