/* LOGO */
body {
    margin: 0;
    height: 100%;
}   
.header {
    padding: 15px 0;
    background-color: #ffff;
}   
.header-content {
    display: flex;
    flex-direction: row;   
    border: 0px solid green;
}   
.logo-content {
    display: flex;
    flex-direction:row;
    vertical-align: left;
    border: 0px solid green;
    width: 1px;
}   
.logo-content-img {
    vertical-align: middle;
    width: 50px;
height: 50px;
}  
.items{
    padding: 30px;
}
.emptext {
    font: normal normal bold 20px/25px Monserrat;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}   
.emp-payroll {
    color: #42515f;
}
* {
    box-sizing: border-box;
} 
/* EMPLOYEE FORM */
.form-content{
    min-height: calc(100% 80px);
    background-color: #f7f7f7;
display: flex;
justify-content: center;
align-items: center;
border: 0px solid green;
}
.form{
    width: 65%;
    padding: 44px 60px;
    background:#ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #f5f5ff;
    border-radius: 0px;
    opacity: 1;
}
.form-head{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}
.label{
    min-width: 140px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.text{
    font-size: 16px;
    color:#42515f;
    opacity: 1;
    font-family: Roboto;
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}